[package]
name = "gut"
version = "0.1.0"
authors = ["Hampus Forsvall <hampusf@technocreatives.com>", "Thanh Le <thanh@technocreatives.com>"]
edition = "2018"

[dependencies]
toml = "0.5.6"
serde_json = "1.0"
serde = { version = "1.0", features = ["derive"] }

structopt = "0.3.9"
clap = "2.0"

thiserror = "1.0.11"
anyhow = "1.0.26"

log = "0.4.8"
color-backtrace = "0.4.0"
pretty_env_logger = "0.4.0"
prettytable-rs = "0.8.0"
colored = "1.9.3"

reqwest = { version = "0.10.4", features = ["blocking", "json", "gzip", "native-tls-vendored"], default_features = false }
graphql_client = "0.9.0"

dirs = "2.0"
walkdir = "2"
regex = "1.3.4"

git2 = { version = "0.13.6", features = ["vendored-openssl"] }
git2_credentials = "0.6.0"
dialoguer = "0.5.0"

sodiumoxide = "0.2.5"
base64 = "0.12.1"
uuid = { version = "0.8", features = ["serde", "v4"] }

rayon = "1.1"

[dev-dependencies]
proptest = "0.9.5"
tempfile = "3.1.0"
